doctype html

html
    head
        title Login
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
        style.
            body 		{ padding-top:80px; word-wrap:break-word; }
            #logout {margin-left: 15px}

    body
        .container
            != messages('message', locals)
        .container
            .page-header.text-center
                h1
                    span.fa.fa-anchor
                    |  Profile Page
                    br
                h3
                    |  Welcome 
                    strong #{user.local.name || user.google.name}
                a.btn.btn-default.btn-sm(href='/') Home
                a.btn.btn-default.btn-sm(href='/users/logout', id='logout') Logout
                br
                br
            .row
            
            // LOCAL INFORMATION
            .col-sm-6
                .well
                    h3
                        span.fa.fa-user
                        |  Local
                    if (user.local.email)
                        p
                            strong Name
                            |  : #{user.local.name}
                            br
                            strong Email
                            |  : #{user.local.email}
                            br
                            br
                            a.btn.btn-primary(href='/users/unlink/local') Unlink
                
                    else
                        a.btn.btn-primary(href='/users/connect/local') Connect Local
                            
            // FACEBOOK INFORMATION
            .col-sm-6
                .well
                    h3.text-primary
                        span.fa.fa-facebook
                        |  Facebook
                    if(user.facebook.token)
                        p
                            strong Name
                            |  : #{user.facebook.name}
                            br
                            strong Email
                            |  : #{user.facebook.email}
                            br
                            br
                            a.btn.btn-primary(href='/users/unlink/facebook') Unlink
                
                    else
                        a.btn.btn-primary(href='/users/connect/facebook') Connect Local

            // GOOGLE INFORMATION
            .col-sm-6
                .well
                    h3.text-danger
                        span.fa.fa-google-plus
                        |  Google
                    if(user.google.token)
                        p
                            strong Name
                            |  : #{user.google.name}
                            br
                            strong Email
                            |  : #{user.google.email}
                            br
                            br
                            a.btn.btn-primary(href='/users/unlink/google') Unlink
                    
                    else
                        a.btn.btn-primary(href='/users/connect/google') Connect Local
        
            
            // TWITTER INFORMATION
            .col-sm-6
                .well
                    h3.text-primary
                        span.fa.fa-twitter
                        |  Twitter
                    if(user.twitter.token)
                        p
                            strong Name
                            |  : #{user.twitter.name}
                            br
                            strong Email
                            |  : #{user.twitter.email}
                            br
                            br
                            a.btn.btn-primary(href='/users/unlink/twitter') Unlink

                    else
                        a.btn.btn-primary(href='/users/connect/twitter') Connect Local

            // GITHUB INFORMATION  
            .col-sm-6
                .well
                    h3.text-primary(style='color:#444444')
                        span.fa.fa-github
                        |  Github
                    if(user.github.token)
                        p
                            strong Name
                            |  : #{user.github.name}
                            br
                            strong Email
                            |  : #{user.github.email}
                            br
                            br
                            a.btn.btn-primary(href='/users/unlink/github') Unlink
                
                    else
                        a.btn.btn-primary(href='/users/connect/github') Connect Local
