doctype html

html
    head
        title Login
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
        style.
            body 		{ padding-top:80px; word-wrap:break-word; }
            #logout {margin-left: 15px}

    body
        .container
            .page-header.text-center
                h1
                    span.fa.fa-anchor
                    |  Profile Page
                    br
                h3
                    |  Welcome #{user.local.name || user.google.name}
                a.btn.btn-default.btn-sm(href='/') Home
                a.btn.btn-default.btn-sm(href='/users/logout', id='logout') Logout
                br
                br
            .row
                // LOCAL INFORMATION
                if !(user.google.name || user.facebook.name || user.twitter.name)            
                    .col-sm-6
                        .well
                            h3
                                span.fa.fa-user
                                |  Local
                            p
                                if user.local.name
                                    strong name
                                    |  : #{user.local.name}
                                    br
                                if user.local.username
                                    strong username
                                    |  : #{user.local.username}
                                    br
                                if user.local.email
                                    strong email
                                    |  : #{user.local.email}
                        
                // GOOGLE INFORMATION
                if !(user.local.name || user.facebook.name || user.twitter.name)  
                    .col-sm-6
                        .well
                            h3.text-danger
                                span.fa.fa-google-plus
                                |  Google
                            p
                                strong name
                                |  : #{user.google.name}
                                br
                                strong email
                                |  : #{user.google.email}
                                br
                                if user.google.gender
                                    strong gender
                                    |  : #{user.google.gender}
                                    br
                                if user.google.gender
                                    strong photo
                                    |  : #{user.google.photos}
                
                // FACEBOOK INFORMATION
                if !(user.local.name || user.google.name || user.twitter.name)  
                    .col-sm-6
                        .well
                            h3.text-primary
                                span.fa.fa-facebook
                                |  Facebook
                            p
                                strong name
                                |  : #{user.facebook.name}
                                br
                                strong email
                                |  : #{user.facebook.email}

                // TWITTER INFORMATION
                if !(user.local.name || user.google.name || user.facebook.name)  
                    .col-sm-6
                        .well
                            h3.text-primary
                                span.fa.fa-twitter
                                |  Twitter
                            p
                                strong name
                                |  : #{user.twitter.name}
                                br
                                strong email
                                |  : #{user.twitter.email}